<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>

</head>
<body style="background-color:coral">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/change.html" class="active">Change</a></li>
  <li><a href="/dave.html" >Dave</a></li>
</ul>

<div style="float:right" >
<h1>Shruthaja P Rao</h1>
<h2>1002118604</h2>
</div>
<div style="margin-top:5%">
<form action="/change.html" method="get">
    <label> Change keywords for a person , Enter a name : </label>
    <input type="=text" name ="cname"><br><br><br>
    <label> New Keywords : </label>
    <input type="text" name="keywords" style="margin-left: 10%;"><br><br>
    <input type="submit">
    </form>
</div>
<div style="margin-top:5%;">
{{row}}
    </div>
<div style="margin-top:5%">
<form action="/change.html" method="post">
    <label> Change salaray for a person , Enter a name : </label>
    <input type="=text" name ="sname">
    <p> New salary : <input type="text" name="salary" style="margin-left: 10.7%;"></p>

    <input type="submit">
    </form>
</div>
{{row2}}
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</body>
</html>