<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<body>
<form action="/change.html" method="get">
    <p> Change keywords for a person , Enter a name : <input type="=text" name ="cname"></p>
    <p> New Keywords : <input type="text" name="keywords"></p>
    <input type="submit">
    </form>
{{row}}
<br><br>
<p>========</p>
<form action="/change.html" method="post">
    <p> Change salaray for a person , Enter a name : <input type="=text" name ="sname"></p>
    <p> New salary : <input type="text" name="salary"></p>
    <input type="submit">
    </form>
{{row2}}
</body>
</html>